# 图片域名
VITE_QINIU_DOMAIN=
# 七牛云bucket名称
VITE_QINIU_BUCKET=

# 域名
VITE_DOMAIN=
# ICP 备案号
VITE_ICP=

# 生成环境保持不变
VITE_PORT=''
# 生成环境保持不变
VITE_BASE=/
# 后端反向代理地址
VITE_APP_BASE_API=/api

# 音乐列表
VITE_MusicServer=netease
VITE_MusicType=playlist
VITE_MusicPlaylistId=17450250258
